//Variables
$color-hover: #e0f5ee;
$color-header: #12221d;
$box-shadow: 0px 7px 20px -10px #616161;
$header-bc:#00c19d;
$principal-color: rgb(38, 38, 38);
$color-fondo: #e0f5ee;
$margin-bottom-footer: 40px;
$color-fondo-2: #c1ebdd;
$background-banner: rgba(220, 217, 217, 0.788);
