@import '../base/fonts';
@import '../utilities/variables';

/*Actividades*/
.titulo-actividades {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.tarjeta-actividades-container {
  margin-bottom: $margin-bottom-footer;
}

.card-header-actividades {
  background-color: $color-fondo-2;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cards-actividades {
  border-radius: 10px;
  margin: 20px;
  box-shadow: $box-shadow;
}
.card-body-actividades {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  .icon {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }
  p {
    margin: 20px;
    color: $principal-color;
    text-align: justify;
  }
  .photo {
    margin-left: 20px;
    width: 350px;
    max-width: 400px;
    height: 250px;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }
}
