@import '../base/fonts';

/*Conoce Chile*/
.conoce-chile-banner {
    div{
        h1{
            margin-top: 3rem;
            font-size: 4rem;
            text-align: center;
            margin-bottom: 3rem;
            font-family: $font-family;
        }
        img{
            margin-bottom: 1rem;
            display: block;
            position: relative;
            width: 100%;
            border-radius: 8px;
        }
    }
    .texto {
        padding: 20px;
        h2{
            font-size: 2rem;
            font-family: $font-family;
            color: $principal-color;
        }
        p{
            font-size: 1rem;
            font-family: $font-family;
            color: $principal-color;
            margin-bottom: 50px;
        }
    }
}

.section-container {
    color: $principal-color;
    background-color: #e0f5ee;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
.section {
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-end;
    align-items: center;
    height: 450px;
    img {
        height: 350px;
        width: 450px;
        margin-left: -200px;
        margin-right: 40px;
        border-radius: 20px;
    }
    p {
        margin-right: 20px;
    }
}
