@import '../base/fonts';
@import '../utilities/variables';

/* Tablet */
 @media only screen and (min-width: 481px) and (max-width: 766px) {
  /* Imperdibles Home */
  .imperdibles .grid-container-imperdibles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*Conoce Chile */
  .conoce-chile-banner {
    div {
      h1 {
        font-size: 2.7rem;
      }
    }
  }
  .section-container {
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    img {
      height: 300px;
      width: 400px;
      margin-top: -40px;
      margin-left: 20px;
      margin-right: 40px;
    }
    h3{
      margin-top: 20px;
      margin-left: 20px;
    }
    p{
      margin-left: 20px;
    }
  }

  /* Actividades */
  .card-body-actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-body-actividades {
    .icon {
      height: 100px;
      width: 200px;
      margin-left: 30px;
      margin-right: 30px;
    }
    p {
      margin-top: 10px;
      text-align: justify;
    }
    .photo {
      height: 200px;
      width: 300px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  /*Parques Nacionales*/
  .parques-banner {
    h1{
      font-family: $font-family;
      font-size: 2.7rem;
      color: $principal-color;
      font-weight: $font-1;
      background-color: $background-banner;
      width: 50%;
      padding: 10px 20px;
      border-radius: 15px;
      box-shadow: $box-shadow;
      margin-left: 20px;
      margin-bottom: 60px;
    }
  }

  /*Contacto */
  .contactobanner {
    div {
      h1 {
        font-size: 2.7rem;
      }
    }
  }
  
  /*Footer*/
  footer {
    .container-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
      }
    }
    .redes {
      margin-top: 25px;
    }
    .suscripcion{
      margin-top: -20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  /* Imperdibles Home */
  .imperdibles .grid-container-imperdibles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  /*Conoce Chile */
  .section-container {
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section {
    display: flex;
    flex-wrap: nowrap;
    justify-items: flex-end;
    align-items: center;
    height: 300px;
    img {
        height: 200px;
        width: 300px;
        margin-left: -50px;
        margin-right: 40px;
    }
    h3{
      margin-top: 15px;
    }
    p {
      margin-right: 20px;
    }
  }
    
  /* Actividades */
  .card-body-actividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-body-actividades {
    .icon {
      height: 100px;
      width: 200px;
      margin-left: 30px;
      margin-right: 30px;
    }
    p {
      margin-top: 10px;
      text-align: justify;
    }
    .photo {
      height: 200px;
      width: 300px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  /*Parques Nacionales*/
  .parques-banner {
    h1{
      font-family: $font-family;
      font-size: 2.7rem;
      color: $principal-color;
      font-weight: $font-1;
      background-color: $background-banner;
      width: 60%;
      padding: 10px 20px;
      border-radius: 15px;
      box-shadow: $box-shadow;
      margin-left: 20px;
      margin-bottom: 60px;
    }
  }

  /*Footer*/
  footer {
    .container-footer {
      display: flex;
      flex-direction: row;
    }
    .logo {
      img {
        margin-left: -20px;
      }
      p {
        margin-left: 20px;
      }
    }
    .redes {
      margin-top: -70px;
      margin-left: 100px;
      img {
        margin-bottom: 20px;
        padding: 1px;
        width: 40px;
      }
    }
    .suscripcion{
      margin-top: 5px;
      margin-left: 100px;
    }
  }
} 

@media only screen and (min-width: 809px) and (max-width: 1023px) {
  /*Footer*/
  footer {
    .container-footer {
      display: flex;
      flex-direction: row;
    }
    .logo {
      img {
        margin-left: -20px;
      }
      p {
        margin-left: 20px;
      }
    }
    .redes {
      margin-top: -30px;
      margin-left: 100px;
      img {
          margin-bottom: 20px;
          padding: 1px;
          width: 40px;
      }
    }
    .suscripcion{
      margin-top: 5px;
      margin-left: 100px;
    }
  }
}
