@import '../base/fonts';

/* Mobile */
@media only screen and (max-width: 480px) {
/*Conoce Chile */
  .conoce-chile-banner {
    div {
      h1 {
        font-size: 2.8rem;
      }
    }
  }
  .section-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    img {
      height: 300px;
      width: 400px;
      margin-top: -40px;
      margin-left: 20px;
      margin-right: 40px;
    }
    h3{
      margin-top: 20px;
      margin-left: 20px;
    }
    p{
      margin-left: 20px;
    }
  }


    /* Actividades de Verano */
    .verano .grid-container-verano {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* Actividades de Invierno */
    .invierno .grid-container-invierno {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

/*Footer*/
 footer {
  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    img {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 40px;
    }
  }
  .redes {
    margin-top: 25px;
  }
  .suscripcion{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 }
} 