@import '../base/fonts';

/*Actividades de Invierno*/
.invierno-Banner {
    background-image: url(../media/san-pedro-de-atacama-laguna-miscanti.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 200px;
    align-items: left;
}
  
  .invierno{
    h3 {
    font-family: $font-family;
    font-size: 1.55rem;
    margin-bottom: 15px;
    font-weight: 650;
    }
    img {
    border-radius: 10px;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.388);
    }
    .grid-container-invierno {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 45px;
    margin: 45px 65px 45px;
    /* Verano flexbox */
  
  .invierno1, .invierno2, .invierno3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invierno1 img, .invierno2 img, .invierno3 img {
    width: 100%;
    height: 100%;
  }
}
}
.invierno .grid-container-invierno .invierno2 img {
    width: 100%;
    height: 100%;
  }
  .invierno .grid-container-invierno .invierno3 img {
    width: 100%;
    height: 100%;
  }