@import '../base/fonts';
@import '../utilities/variables';

/* Home */
.home-Banner {
    background-image: url(../media/los-lagos-volcan-osorno.jpg);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        text-align: left;
        font-family: $font-family;
        width: 90%;
        font-size: 2.7rem;
        margin-left: 20px;
        color: $principal-color;
        font-weight: 600;
    }
    p{
        font-family: $font-family;
        color: $principal-color;
        font-size: 1.2rem;
        background-color: rgba(220, 217, 217, 0.788);
        width: 50%;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin-left: 20px;
        margin-bottom: 60px;
    }
  }

.recomendaciones {
    margin-left: 20px;
    font-family: $font-family;
    color: $principal-color;
    h2{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .nav {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    a.nav-link {
        color: #616161;
        &:hover,
        &:focus {
             color: $principal-color;
        }
        .active {
            color: $principal-color;
        }
    }
    .cards {
        margin-bottom: $margin-bottom-footer;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        margin-right: 15px;
        .card {
            img {
                width: 100%;
                height: 100%;
            }
            h5 {
                margin-top: 20px;
                margin-left: 5px;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
}
